<section class="products">
  <h2>Our Flowers</h2>
  <div class="product-grid">
    <% products.forEach(product => { %>
      <div class="product-card">
        <img src="<%= product.img %>" alt="<%= product.name %>">
        <h3><%= product.name %></h3>
        <p>₱<%= product.price %></p>
          <button class="btn" type="submit">Add to Cart</button>
        </form>
      </div>
    <% }) %>
  </div>
</section>
